@import '../BasicPartials';

.FourCards{
    // background-color: aquamarine;
    margin-top: -50px;
    .MainBlock{
        background-color: whitesmoke;
    }
}

.Cards{
    padding: 5%;
    .imgCol{
        margin: 0%;
        .fa-solid{
            background-color: $colorPink;
            padding: 10% 10%;
            border-radius: 10px;
            font-size: 3rem;
        }
    }
}